@page "/order/details/{Id:int}"

@using System.Globalization

@inject IOrderRepository OrderRepository
@inject IJSRuntime JSRuntime
@inject AuthenticationStateProvider AuthenticationStateProvider

<PageTitle>Order Details</PageTitle>

@if (IsProcessing)
{
    <div class="position-absolute w-100 vh-100 d-flex flex-column align-items-center bg-white justify-content-center">
        <img src="/images/loading.gif" alt="loading" />
    </div>
}
else
{
    <div class="container my-5 mx-auto p-5 w-100" style="max-width: 950px;">
        <div class="card" style="max-width: 750px;">
            <div class="pt-3 text-success text-center">
                <span class="h4"> ORDER DETAILS</span>
            </div>

            <hr />
            <div class="px-3">
                <p>Order Id: @Order.Id</p>
                <p>Name: @Order.Name</p>
                <p>Email: @Order.Email</p>
                <p>Phone: @Order.PhoneNumber</p>
                <p>Order Status: @Order.Status</p>
            </div>
            <hr />
            <div class="card-body">
                <h4 class="text-success">Menu Items</h4>

                @foreach (var orderItem in Order.OrderItems)
                {
                    <div class="d-flex">
                        <div class="d-flex w-100 justify-content-between">
                            <p>
                                &nbsp; -- @orderItem.ProductName
                            </p>
                            <p>
                                @orderItem.Price.ToString("C", CultureInfo.GetCultureInfo("en-us")) x @orderItem.Count =
                            </p>
                        </div>
                        <div class="ps-4">
                            @((orderItem.Price*@orderItem.Count).ToString("C", CultureInfo.GetCultureInfo("en-us")))
                        </div>
                    </div>
                }

                <hr />
                <h4 class="text-success text-end">
                    @Order.TotalPrice.ToString("C", CultureInfo.GetCultureInfo("en-us"))
                </h4>
                <hr />

                <div class="row">
                    <div class="col-5">
                        <a href="order/list" class="btn btn-secondary m-2 p-2" style="width:150px;">Back to Orders</a>
                    </div>
                    <div class="col-7 text-end">
                        @if (Order.Status != OrderStatus.Cancelled.ToString() && Order.Status != OrderStatus.Completed.ToString() &&
                           AuthenticationStateProvider.GetAuthenticationStateAsync().GetAwaiter().GetResult().User?.IsInRole("Admin") == true)
                        {
                            <button class="btn btn-danger m-2 p-2" @onclick="()=>UpdateStatus(OrderStatus.Cancelled)" style="width:150px;">Cancelled</button>
                            @if (Order.Status == OrderStatus.Pending.ToString())
                            {
                                <button class="btn btn-primary m-2 p-2" @onclick="()=>UpdateStatus(OrderStatus.ReadyForPickUp)" style="width:150px;">Ready for Pickup</button>
                            }
                            @if (Order.Status == OrderStatus.ReadyForPickUp.ToString())
                            {
                                <button class="btn btn-success m-2 p-2" @onclick="()=>UpdateStatus(OrderStatus.Completed)" style="width:150px;">Completed</button>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@code {
    private bool IsProcessing { get; set; } = true;

    [Parameter]
    public int Id { get; set; }

    private Order? Order = null;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LoadOrder();
            IsProcessing = false;
            StateHasChanged();
        }
    }

    private async Task LoadOrder()
    {
        Order = await OrderRepository.GetAsync(Id);
    }

    private async Task UpdateStatus(OrderStatus newOrderStatus)
    {
        await OrderRepository.UpdateStatusAsync(Id, newOrderStatus);
        await JSRuntime.Toastr(ToastrType.Success, $"Status updated successfully to {newOrderStatus.ToString()}.");
    }
}
